<!DOCTYPE html>
<html>
    <head>
        <title> WQU Project</title>
          <!-- Import Vega & Vega-Lite (does not have to be from CDN) -->
        <script src="https://cdn.jsdelivr.net/npm/vega@4"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
        
    </head>
    <h1>WQU Project</h1>
    
    <body>
        <div class="text-content">
            <p> {{ message | safe }} </p>
        </div>
        
        <h2>24 hour forecast</h2>
        <div id="vis"></div>
    

        <script type="text/javascript">
          function parse(url, div) {
            var opt = {
              mode: "vega-lite",
              renderer: "svg",
              actions: {export: true, source: false, editor: false}
            };

            vegaEmbed("#vis", url, opt, function(error, result) {
              // result.view is the Vega View, url is the original Vega-Lite specification
              vegaTooltip.vegaLite(result.view, url);
                });
              }

              parse({{graph | safe}},'vis');
        </script>
        
        
    </body>
</html>